/*/src/index.css*/
:root {
  --color-primary: #0d7377;
  --color-primary-dark: #0a5d61;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

ul{
  list-style-type: none;
}
a{
  text-decoration:none;
  color:inherit;
}


